<div id="header">
<center>
<img src="modbee.png" id="img">
</center>
</div>
<ul id="menu">
  <li><a href="#">Full Menu</a>
    <ul>
      <li><a href="home.html">Home</a></li>
			
      <li><a href="#">Customer Service</a>
		<ul>
                <li><a href="">Echidnas</a></li>
                <li><a href="">Platypus</a></li>
            </ul>
	  </li>
	  
      <li><a href="#">News</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Politics</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Living</a></li>
	  <li><a href="#">Entertainment</a></li>
    </ul>
  </li>
   <li><a href="#">Help</a></li>
</ul>