#header {
    width: 1350px;
    height: 100px;
	background-color: blue;
    }
#img{
	width: 500px;
	height: 100px;
	
}

.nav
{
    list-style: none;
  
    background-color: green;
                padding: 24px 8px;
    margin: 0;
                width=100px;
               
                               
}
 
 
 
/* .nav ul {
                                background: green;
                                float: left;
                                -webkit-transition: .5s;
                                transition: .5s;
                }*/
               
                .nav li {
                                font-size:15px;
                                float: left;
                                position: relative;
                                width: 150px;
                                list-style: none;
                               
                                transition: .5s;
                }
 
 
.nav ul {
                float:left;
                list-style: none;
  background-color: green;
  text-align:center;
    padding: 0;
    margin: 0;
                display:inline;
                position: absolute;
}
/* .nav ul {
  list-style: none;
  background-color: green;
  text-align: center;
  padding: 0;
  margin: 0;
   position: absolute;
 
} */
 
/* .nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
 
    
} */
 
 
#menu.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
  font-size:24px;
  width:150px;
}
#full a{
                font-size:24px;
                width:150px;
}
 
#menu.nav a:hover {
  background-color: #005f5f;
}
 
#menu.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}
#menu.nav li li {
  font-size: 15px;
}
#menu.nav ul ul {
    position: absolute;
    display: none;
}
 
#menu.nav li:hover > ul {
    display: block;
}
 
#menu.nav ul ul ul {
                position: absolute;
    left: 100%;
    top: 0;
}